* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.404), rgb(130, 116, 209));
  padding: 20px;
}
/* Start styling home */
.home {
  z-index: 1;
  width: 100%;
}
.home .container {
  background-color: #eee;
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.home .container h1 {
  font-style: italic; 
}
.home .container .categories {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.home .container ul li {
  list-style-type: none ;
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.164);
  padding: 10px;
  transition: .3s;
  cursor: pointer;
  color:  rgba(0, 0, 0, 0.658) ;
  border-radius: 5px;
  margin-left: 5px;
}
.home .container ul a {
  text-decoration: none;
}
.home .container ul li:hover {
  /* background-color: rgba(0, 0, 0, 0.459); */
}
.home .container form {
  margin-top: 20px;
  width: 80%;
}
.home .container form :first-child{
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  outline: none;
  transition: .2s;
}
.home .container form :last-child {
  background-color: rgb(255, 0, 98);
  color: white;
  border: none;
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: .2s;
}
.home .container form :first-child:focus,
.home .container form :last-child:hover {
  transform: scale(1.05);
}
/* End styling home */
/* Start Styling all, complete and incomplete */
.all,
.complete,
.incomplete {
  width: 40%;
  background-color: #eee;
  border-radius: 8px;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.452);
  overflow-y: auto;
  max-height: 65vh; 
}
.all .container,
.complete .container,
.incomplete .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.all .detail ,
.complete .detail, 
.incomplete .detail {
  padding: 10px;
  border-radius: 5px;
  margin-bottom : 10px;
  background-color: rgb(101, 85, 187);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all .detail li,
.complete .detail li,
.incomplete .detail li {
  color: white;
  list-style-type: none;
}
/* End Styling all, complete and incomplete */
/* Start styling of icons */
.icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done,
.edit,
.delete {
  transition: .3s;
}
.done:hover,
.edit:hover,
.delete:hover {
  transform: scale(1.1);
}
/* End styling of icons */
/* Start styling edit-task */
.edit-task {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  justify-content: center;
  align-items: center;
}
.edit-task .container {
  border-radius: 5px;
  width: 40%;
  padding: 40px;
  background-color: #eee;
}
.edit-task form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-task form input:first-child {
  border: 1px solid rgba(0, 0, 0, 0.452);
  border-radius: 5px;
  padding: 10px;
  flex: 1;
  outline: none;
  transition: .2s;
}
.edit-task form input:last-child,
.edit-task form button{
  background-color: green;
  color: white;
  border: none;
  width: 100px;
  margin-left: 10px;
  cursor: pointer;
  transition: .2s;
  font-size: 15px;
}
.edit-task form button{
  background-color: red;
  padding: 10px 0;
  border-radius: 5px;
}
.edit-task .container form :first-child:focus,
.edit-task .container form :last-child:hover {
  transform: scale(1.05);
}
/* End styling edit-task */